/*
Cambio desde Lap
Regla CSS
[
Selectores> Header, .nameClass,  #nameId
Declaraciones> background
Valores> red
}
*/
/*!imporatant rompe con la jerarquia y tome siempre el valor que lo contiene*/
header  {
  background: red;
}
/*Selector de etiquetas  Header - section - a apunta a 
cualquier etiqueda pero afecta a todas*/
/*Selector de clase .nameClass*/
/*class puede usarse en diferentas etiquetas, 
  pero los id solo es para una*/
/*Selector de id #nameId*/

body {
  font-family: 'Source Sans Pro',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fjalla One',sans-serif;
  font-weight: normal;/*Grosor de letra*/
}
h1 {
  font-size: 40px;
  line-height: 1.5;/*Espaciado entre renglones*/
  letter-spacing: -.2px;/*Espacio entre letras*/
  text-transform: none;/*Mayusculas o min*/
  text-decoration: none;/*subrrayado, rayado, etc*/
  color: white;
}
h1 strong {
  color: #026fff;
}
.project-details{
  width: 500px; 
}
.project-imageContainer {
  width: 500px
}
.hero{
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat:no-repeat;
  background-position-x: right;  
}
.header {
  background-color: #1b2127;
}
.header a{
  color: white;
  text-decoration: none;
}